body {
    background: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background: #2F3235;
}

.name {
    display: flex;
    align-items: center;
    padding-left: 5%;
    font-size: 40px;
    color: #ECECEC;
    background: #2F3235;
}

.archive {
    display: flex;
    margin-left: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    align-items: center;
    text-align: center;
    background: #2F3235;
    color: white;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 5%;
}

.trashBtn {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    width: 30%;
    font-weight: normal;
    font-size: 200%;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 2%;
    justify-content: center;
    background: #ccccc5;
    border: 4px solid #424069;
    box-sizing: border-box;
    border-radius: 24px;
}

.lists {
    display: flex;
    background: #ccccc5;
    border-radius: 4px;
    height: 250px;
    width: 100%;
    margin: 2%;
    margin-top: 8%;
    align-items: center;
}

.listLabel {
    display: flex;
    width: 20%;
    margin-left: 10%;
    background: #ccccc5;
}

.listButton {
    display: flex;
    background-size: cover;
    width: 20%;
    margin-left: 10%;
    background: #E5E5E5;
}

.listCheckBox {
    display: flex;
    width: 30%;
}

.listBtnClose {
    display: flex;
    width: 30%;
    align-items: center;
    width: 2%;
    height: 10%;
    margin-left: 3%;
    padding-left: 1px;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 0;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: none;
    margin: 0;
    padding: 0;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
}

.modal-dialog {
    display: flex;
    position: relative;
    width: auto;
    margin: 2%;
}

@media (min-width: 576px) {
    .modal-dialog {
        display: flex;
        max-width: 500px;
        margin: 30px auto;
    }
}

.modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #ccccc5;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

@media (min-width: 768px) {
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
}

.modal-header {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}

.modal-title {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}


/* свойства для кнопки "Закрыть" */

.close {
    display: flex;
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}


/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */

.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}


/* свойства для блока, содержащего основное содержимое окна */

.modal-body {
    display: flex;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

table {
    display: flex;
    line-height: 1.1;
    color: rgb(0, 0, 0);
}

.listButton {
    width: 150px;
    cursor: pointer;
    display: inline;
}

.listButton:focus {
    width: auto;
    z-index: 100;
}